<!DOCTYPE html>
<html lang="en" ng-app="cclgApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS CCLG App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="cclgAppCtrl as socisCtrl">
    <h3>Afegeix un nou soci</h3>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="name">Nom</label>
        <input class="form-control" type='text' name='name' ng-model='soci.name' placeholder="Nom del soci" ng-required='true'>
      </div>
      <div class="form-group">
        <label class="sr-only" for="address">Adreça</label>
        <input class="form-control" type='text' name='address' ng-model='soci.address' placeholder="Adressa del soci">
      </div>
      <div class="form-group">
        <label class="sr-only" for="codipostal">Codi Postal</label>
        <input class="form-control" type='text' name='codipostal' ng-model='soci.address' ng-maxlength="4" placeholder="codi postal">
      </div>
      <div class="form-group">
        <label class="sr-only" for="poblacio">Població</label>
        <input class="form-control" type='text' name='poblacio' ng-model='soci.address' placeholder="població">
      </div>
      <div class="form-group">
        <select class="form-control" name='quota' ng-model="soci.quota" ng-options="quota.name for quota in quotes track by quota.id">
        </select>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="soci.actiu"> Actiu
          </label>
        </div>
      </div>
      <button type='submit' class="btn btn-default" ng-click="addSoci()"> Afegeix </button>
    </form>
    <h3>Llista de socis afegits recentment</h3>
    <table class="table table-striped">
      <tr>
        <th>Nom </th>
        <th>Quota</th>
      </tr>
      <tr ng-repeat='soci in sociList'>
        <td>{{soci.name}}</td>
        <td>{{soci.quota.value}}</td>
      </tr>
    </table>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <!--  <script src="components/socis.module.js"></script> -->
</body>

</html>
